.catch {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
    position: absolute;
    left: 200px;
    top: 200px;
    transition: 1s;
    text-align: center;
}

.explode {
    animation: explode 1s forwards;
}

.btn {
    margin: 0 auto;
    width: 200px;
    height: 60px;
    font-size: 25px;
    background: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    display: none;
}

a {
    text-align: center;
    color: white;
    text-decoration: none;
}

@keyframes explode {
    0% {
        transform: scale(1);
        background-color: #f00;
    }

    33% {
        transform: scale(2);
        background-color: #ff0;
    }

    66% {
        transform: scale(1);
        background-color: #f00;
        opacity: 0;
    }
    100% {
        transform: scale(0);
        background-color: #f00;
        opacity: 0;
    }
}